<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<servlet>
<servlet-name>test</servlet-name>
<servlet-class>com.lsj.servlet.TestServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>test</servlet-name>
<url-pattern>/a/b/c</url-pattern>
</servlet-mapping>

<error-page>
	<error-code>404</error-code>
	<location>/error/error.html</location>
</error-page>

<error-page>
	<error-code>500</error-code>
	<location>/error/error.html</location>
</error-page>

</web-app>
