<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
<!-- 一个webapp只有一个web.xml文件 -->
<!-- web.xml文件主要配置路径和servlet类名之间的绑定关系 -->
<!-- web.xml文件在tomcat服务器启动阶段被解析（启动的时候就会解析，注意） -->
<!-- web.xml文件解析失败，会导致webapp启动失败 -->
<!-- web.xml文件中的标签不能随意编写，因为tomcat已经规定了写什么标签 -->
<servlet>
	<servlet-name>thisIsServletName</servlet-name>
	<servlet-class>HelloServlet</servlet-class>
</servlet>

<servlet-mapping>
<!-- 路径随便编写，必须以"/"开始，且不加项目名。这是个虚拟路径，只是代表一个资源的名称。 一个资源可以有多个路径。-->
	<servlet-name>thisIsServletName</servlet-name>
	<url-pattern>/abc/cba</url-pattern>
	<url-pattern>/hello</url-pattern>
</servlet-mapping>
  
</web-app>