<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jvm/src/com/lsj/jvm/memory/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.lsj.jvm.memory.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jvm"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms20m -Xmx20m -XX:+HeapDumpOnOutOfMemoryError"/>
</launchConfiguration>
