<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
  	<servlet-name>a</servlet-name>
  	<servlet-class>com.lsj.servlet.AServlet</servlet-class>
  
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>admin</param-value>
  	</init-param>
  	
  	
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>admin123</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>a</servlet-name>
  	<url-pattern>/a</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>b</servlet-name>
  	<servlet-class>com.lsj.servlet.BServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>b</servlet-name>
  	<url-pattern>/b</url-pattern>
  </servlet-mapping>  
</web-app>
